.Main {
  background: #000c37;
  border: 5px solid #02bcb1;
  box-sizing: border-box;
  border-radius: 40px;

  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #f8f9fd;
}
